# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules
/.expo
/dist
/web-build

# build env
.expo/
.expo-shared/
expo-env.d.ts

# android/ios native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-cache/
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# environment
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/

# Expo's example app template (optional)
app-example

app.json
